.h2{

    align-content: center;
    padding: 15px;
   
    
    }
    
    input{
    
        width: 80%;
    
    }
    
    .h2{
    float: center;
    text-align-last: left;
    
    }
    
    .H1{
        background-color:white;
        padding-bottom: 20px;
    }

    html{
        background: url('p.jpg') no-repeat center center fixed;
        background-size: cover;
  
    }  

    .kaka{
        float: left;
    }